/* Document */

img {
	border-style:none;
	}

body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15.5px;
	line-height: 18px;
	text-align: left;
	color:#000;
	margin:20px;
	}

a:link {	
	color: #99C; 
	text-decoration: none; 
	}

a:visited {
	color: #99C; 
	text-decoration: none; 
	}

a:hover {
	color: #000; 
	text-decoration: none; 
	}
	
a:active { 
	color: #FFF; 
	text-decoration: none; 	
	}

a.tooltip span {
	display:none; 
	padding:2px; 
	margin-left:8px; 
	width:300px;
	}

a.tooltip:hover span{
	display:inline; 
	position:absolute; 
	/* background:transparent; */
	background:#FFF;
	border:1px solid #CCC;
	color:#000;
	}
	
.webfont-0 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.webfont-1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	}

.webfont-2 {
	font-family: Verdana, Geneva, sans-serif;
	}

.webfont-3 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	}

.webfont-4 {
	font-family: "Comic Sans", "Comic Sans MS", cursive, sans-serif;
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;*/
	}

.webfont-5 {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	}

.webfont-6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	}

.webfont-7 {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	}

.webfont-8 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	}

.webfont-9 { 
	/*Comic Sans MS, Comic Sans MS5, cursive*/
	font-family: "Andale Mono", AndaleMono, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	}




/* Containers */

.navContainer {
	position: fixed;
	top: 10px;
	left: 40px;
	z-index: 90;
	}

.mainContainer {
	position: relative;
	top: 20px;
	width: 99%;
	z-index: 50;
	}
	
.bodyContainer {
	position: relative;
	top: 0px;
	left: 25%;
	width: 50%;
	z-index: 10;
	}	

.treeContainer {
	float: left;
	}

.blankContainer {
	float: left;
	width: 300px;
	height: 200px;
	}
	
.imagesContainer {
 	overflow: auto;
	z-index: 0;
	}	

.imageContainerWrapper {
        float:left;
        padding: 10px;
        }

.imageContainer {
        padding: 100px;
        }
	
.detailContainer {
	width: 400px;
	}
	
.coverContainer {
	width: 100%;
	}
	
.coverContainer:hover { 
	}

.captionContainer {
	width: 100%;
	text-align: center;
	padding: 5px 0 0 0;
	}		
	
.captionContainer:hover { 
	}
	
.titleContainer {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 400px;
	z-index: 99;
	}
	
.wordsContainer {
	width: 500px;
	}

.wordsPopContainer {
	width: 400px;
	}
	
.timeContainer {
	position: absolute;
	left: 40px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	}

.timeContainerWrapper {
	position: fixed;
	top: 10px;
	left: 98%;
	width: 150px;
	margin: 0 0 0 -140px;
	z-index: 90;
	}
	
.servedContainer {
	padding: 30px;
	}

.labelContainer {
	position: fixed;
	top: 10px; 
	left: 50%; 
	width: 360px; 
	height: 141px; 
	margin: 0 0 0 -180px;
	z-index: 0;
	}

.clockContainer {
	position: fixed;
	top: 50%; 
	left: 50%;
	width: 200px;
	height: 200px; 
	margin: -100px 0 0 -100px;
	z-index: 90;
	}	

.aboutContainer {
	/* position: fixed; */
	top: 0px; 
	left: 0px;
	width: 200px;
	/* margin: -100px 0 0 -100px; */
	z-index: 90;
	}	
	
.menuContainer {
	position: fixed;
	z-index: 90;
	top: 10px; 
	left: 10px;
	}
	
	
	
/* Type */

.body {
	font-size: 18px;
	line-height: 20px; 
	}

.caption {
	font-size: 11px;
	line-height: 12px; 
	}
	
.detail {
	font-size: 16px;
	line-height: 18px; 
	}

.tree {
	font-size: 300px;
	line-height: 200px; 
	}



/* Utility */

.pad {
	padding: 30px;
	}

.hidden {
	visibility:hidden;
	}

.clear {
	clear:both;
	}

.active {
	margin-left: -40px;
	}

.active a {
	color:#FC0;
	}

.active a:hover {
	color:#000;
	}

.active a:active {
	color:#FFF;
	}

.static {
	margin-left: -40px;
	}
	
.static a {
	color:#000;
	}

.static a:hover {
	color:#FC0;
	}

.static a:active {
	color:#FFF;
	}
	
.red {
	color: #F00; 
	}

.black {
	color: #000; 
	}

.black a {
	color: #000; 
	}
	
.black a:hover {
	color: #99C; 
	}
	
.black a:active {
	color: #FFF; 
	}

.green {
	color: #0B0; 
	}
	
.green a {
	color: #0B0; 
	}
	
.green a:visited {
	color: #0B0; 
	}
	
.green a:hover {
	color: #000; 
	}
	
.green a:active {
	color: #FFF; 
	}
	
.arrow a { 
	background-image:url('/MEDIA/arrow.gif');
	background-repeat:no-repeat;
	padding: 0 0 0 16px;
	}
	
	
	
	
